body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  font-size: 18px;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(26, 29, 34);
}
header .nav-left-section{
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-center-section{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .nav-center-section li{
  padding: 0 10px;
}
header .nav-center-section li a{
  text-decoration: none;
  cursor: pointer;
  color: azure;
}
header .nav-rigth-section{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 20px;
}
header .nav-rigth-section button{
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 10px;
  background-color:rgb(30, 190, 164);
  color: azure;
  font-size: 16px;
}
header .nav-rigth-section button:hover{
  background-color:rgb(30, 200, 164);
  color: floralwhite;
  cursor: pointer;
}