html,
body,
.grid-container {
  height: 100%;
  margin: 0px;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header__menu--img {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/5;
  background-color: rgb(61, 68, 76);
  place-items: center;
}
.header__menu--img img{
  grid-column: 1/2;
  width: 10%;
}
.header__menu--title {
  grid-column: 6/12;
  grid-row: 2;
  font-size: 60px;
}
.header__menu--subtitle {
  grid-column: 6/11;
  grid-row: 3;
  font-size: 25px;
  justify-content: center;
  color: rgb(49, 141, 204);
}
.aboutme {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.aboutme__title{
    display:grid;
  grid-column: 1/5;
    background-color: rgb(61, 68, 76);
    color: azure;
    place-items: center
  ;
}

.aboutme__text{
    grid-column: 6/12;
    text-align: justify;
}
.experience{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.experience__detail{
    display: grid;
    grid-column: 1/5;
    grid-row: 1/5;
    background-color: rgb(61, 68, 76);
    color: azure;
    place-items: center;
}
.experience__text{
    grid-column: 6/12;
    grid-row: 2/3;
    
}
.experience__text--img{
  display: grid;
  grid-column: 6/8;
  place-items: center;
}
.experience__text--unit{
    grid-column: 8/12;
    text-align: justify;
}
